# Environment
.env
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Data & models
dataset/
osu_files/
checkpoints/
checkpoints_ar/
*.pt
*.pth
*.ckpt

# Output
*.osu
!ai_osu_maps/**
ai_osu_maps/**/__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Wandb
wandb/

# Datasets
dataset_popular/
top_beatmapsets.tsv
